Debug
settings
*.dep
*.sfr
*.o
*.exe
*.ihex
*.a43
*.bin
*.so
*.a
*.pyd
*.pyc
path.txt
/build
/.sconsign.dblite
bsp/boards/python/*.def
.directory
common/03oos_openwsn_prog
projects/common/03oos_openwsn/03oos_openwsn_obj.*
projects/common/oos_openwsn.*
bsp/boards/python/openwsnmodule_obj.c
bsp/boards/python/openwsnmodule_obj.os
projects/python_vs13/oos_openwsn.sdf
*.map
*.lst
projects/wsn430v14/03oos_mercator/*.ewd
*~
